
.img-product{
    width: 295px;
    height: 400px;
}

.img-aodai-item{
    width: 295px;
    height: 400px;
}

.col-md-3 {
    float: left;
}

.icon-slide, .carousel-indicators li{
    background-color: black;
}

.img-aodai{
    width: 100%;
    height: 100%;
}

.page-footer{
    margin-top: 20px;
    margin-bottom: -20px;
}